.form {
    @include flex-column;
    gap: 1rem;

    .input-row {
        flex: 1;
        @include flex-row;
        gap: 1rem;

        input {
            flex: 1;
            outline: none;
            border: $swatch_2 2px solid;
            padding: 1.2rem 1rem;
            font-family: inherit;
            font-size: 1.6rem;
            transition: all .3s $bez-1;

            &:focus {
                border-color: $swatch_3;
            }
        }
    }
}

.highlight {
    color: $swatch_3;
}