// Color Variable
$color-success: #09C97F;
$color-error: #DF5656;
$color-error-active: #bb3030;

$swatch_1: #01362a;
$swatch_2: #a7cfca;
$swatch_3: #018171;
$swatch_4: #00584e;

:root {
    --app-container: #f8f8fa;
    --light-section: #fff;
    --secondary-color: #4a4a4a;
    --border-color: #e9ebf0;
    --primary-green: #01362a;
    --primary-text: #151f20;
    --secondary-text: #858585;
    --message-box-border: #e9ebf0;
}

.dark:root {
    --app-container: #141316;
    --light-section: #1f2027;
    --secondary-color: rgba(255, 255, 255, 0.8);
    --border-color: #333539;
    --primary-green: #07d3a4;
    --primary-text: #fff;
    --secondary-text: #7c828f;
    --message-box-border: rgba(255, 255, 255, 0.1);
}

// animation-bezier
$bez-1: cubic-bezier(0.5, 0, 0.5, 1.5);
$bez-2: cubic-bezier(0.5, -0.5, 0.2, 1.6);
$bez-3: cubic-bezier(0.55, 0.055, 0.675, 0.19);