// Color Variable
$color-success: #09C97F;
$color-error: #DF5656;
$color-error-active: #bb3030;
$color-warning: #f8a33d;
$color-warning-active: #ef8607;


$swatch_1: #01362a;
$swatch_2: #a7cfca;
$swatch_3: #018171;
$swatch_4: #00584e;
$noEditable: #c0c0c0;

:root {
    --app-container: #f8f8fa;
    --light-section: #fff;
    --secondary-color: #4a4a4a;
    --border-color: #e9ebf0;
    --primary-green: #01362a;
    --primary-text: #151f20;
    --secondary-text: #858585;
    --message-box-border: #e9ebf0;

    /* Success */
    --color-success: #09C97F;

    /* Error */
    --color-error: #DF5656;
    --color-error-active: #bb3030;

    /* Warning */
    --color-warning: #f8a33d;
    --color-warning-active: #ef8607;

    /* Swatch */
    --swatch-1: #01362a;
    --swatch-2: #a7cfca;
    --swatch-3: #018171;
    --swatch-4: #00584e;
    --swatch-5: #f2f2f2;

    /* Miscellaneous */
    --no-editable: #c0c0c0;
}

.dark:root {
    --app-container: #151f20;
    --light-section: #1c2628;
    --secondary-color: #bcbcbc;
    --border-color: #434343;
    --primary-green: #00b894;
    --primary-text: #f8f8fa;
    --secondary-text: #a6a6a6;
    --message-box-border: #434343;

    /* Success */
    --color-success: #00b894;

    /* Error */
    --color-error: #DF5656;
    --color-error-active: #ff4d4d;

    /* Warning */
    --color-warning: #ff9c12;
    --color-warning-active: #ff8c00;

    /* Swatch */
    --swatch-1: #00b894;
    --swatch-2: #7a9d9a;
    --swatch-3: #018171;
    --swatch-4: #008b8b;
    --swatch-5: #f8f8fa;

    /* Miscellaneous */
    --no-editable: #434343;
}

// animation-bezier
$bez-1: cubic-bezier(0.5, 0, 0.5, 1.5);
$bez-2: cubic-bezier(0.5, -0.5, 0.2, 1.6);
$bez-3: cubic-bezier(0.55, 0.055, 0.675, 0.19);