// Color Variable
$color-success: #09C97F;
$color-error: #DF5656;
$color-error-active: #bb3030;

$swatch_1: #01362a;
$swatch_2: #a7cfca;
$swatch_3: #018171;
$swatch_4: #00584e;

:root {
    --app-container: #F8F8FA;
    --light-section: #fff;
    --secondary-color: #4A4A4A;
    --border-color: #e9ebf0;
    --primary-green: #01362a;
    --primary-text: #151F20;
    --secondary-text: #858585;
}

.dark:root {
    --app-container: #141316;
    --light-section: #1F2027;
    --secondary-color: rgba(255, 255, 255, .8);
    --border-color: #333539;
    --primary-text: #fff;
    --secondary-text: #7C828F;
}

// animation-bezier
$bez-1: cubic-bezier(0.5, 0, 0.5, 1.5);
$bez-2: cubic-bezier(0.5, -0.5, 0.2, 1.6);
$bez-3: cubic-bezier(0.55, 0.055, 0.675, 0.19);