.new-dsr {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .uid-date {
    @include flex-column;
    gap: 2rem;

    p {
      font-weight: 500;
      color: var(--primary-text);

      span {
        color: var(--secondary-text);
        font-weight: 500;
        font-size: 1.5rem;
      }
    }

    h3 {
      text-align: center;
      font-weight: 700;
    }
  }

  &-card {
    padding: 4rem;
    border-radius: .4rem;
    @include shadow-2;
    background-color: var(--light-section);
    @include flex-column;
    gap: 3rem;

    @media screen and (max-width: 600px) {
      padding: 4rem 2.5rem;
    }
  }
}

.verification-cta {
  position: absolute;
  background-color: var(--light-section);
  @include shadow-1;
  padding: 1.5rem 2rem;
  border-radius: .4rem 0 0 .4rem;
  right: 0;
  border-left: 4px solid $color-success;
  transition: all .3s $bez-3;
  transform: translateX(200%);
  z-index: 1000;

  .heading-xs {
    font-weight: 500;
    color: $color-success;
  }
}

.error-cta {
  border-left: 4px solid $color-error;

  .heading-xs {
    color: $color-error;
  }
}

.show-verification {
  transform: translateX(0);
}