.new-dsr {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .uid-date {
    @include flex-column;
    gap: 2rem;

    p {
      font-weight: 500;
      color: var(--primary-text);

      span {
        color: var(--secondary-text);
        font-weight: 500;
        font-size: 1.5rem;
      }
    }

    h3 {
      text-align: center;
      font-weight: 700;
    }
  }

  &-card {
    padding: 4rem;
    border-radius: .4rem;
    @include shadow-2;
    background-color: var(--light-section);
    @include flex-column;
    gap: 3rem;

    @media screen and (max-width: 600px) {
      padding: 4rem 2.5rem;
    }
  }
}