.new-dsr {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .uid-date {
    @include flex-row-spacebetween;

    p {
      font-weight: 500;
      color: var(--primary-text);

      span {
        color: var(--secondary-text);
        font-weight: 500;
        font-size: 1.5rem;
      }
    }
  }

  &-card {
    padding: 2rem 2rem 4rem 2rem;
    border-radius: .4rem;
    @include shadow-2;
    background-color: var(--light-section);
    @include flex-column;
    gap: 3rem;
  }
}