.dashboard {
  @include flex-row;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background-color: var(--app-container);

  .main-content {
    flex: 1;
  }

  .container {
    position: relative;
    padding: 2rem;
    height: 91.4vh;
    overflow-x: hidden;
    @include customScroll;

    @media screen and (max-width: 500px) {
      padding: 2rem 1.5rem 2rem 1.5rem;
    }
  }
}