.btn {
    padding: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s $bez-1;

    &:active {
        transform: scale(0.98);
    }
}

.btn-dark {
    color: #fff;
    background-color: $swatch_3;

    &:hover {
        background-color: $swatch_4;
    }
}

.btn-light {
    background-color: #fff;
    color: $swatch_1;
}

// Pass the below custom class to the button as a customClass props if you want the button to be light and with shadow and border (currently used for login with microsoft button)--Adarsh

.btn-light-shadow {
    @include shadow-1;
    @include flex-row-center;
    gap: 1rem;
    border: 1px solid var(--border-color);

    img {
        width: 2rem;
    }
}

//button leave error color and hover error color----
.btn-leave {
    background-color: $color-error;
    padding: 1.4rem 2rem;
    align-self: flex-end;

    &:hover {
        background-color: $color-error-active;
    }
}