// Created basic guidelines for typography, so you just have to use these classes --Adarsh
body {
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
  color: var(--secondary-text);
}

h1,
h2,
h3,
h4 {
  color: var(--swatch-1);
  font-weight: 600;
}

p {
  font-weight: 500;
  line-height: 1.6rem;
}

.heading-l {
  font-size: 4rem;

  @media screen and (max-width: 1050px) {
    font-size: 3.5rem;
  }

  @media screen and (max-width: 750px) {
    font-size: 3.2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 3rem;
  }
}

.heading-m {
  font-size: 3rem;

  @media screen and (max-width: 750px) {
    font-size: 5rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 3.5rem;
  }
}

.heading-s {
  font-size: 2.2rem;

  @media screen and (max-width: 750px) {
    font-size: 2.5rem;
  }
}

.heading-xs {
  font-size: 1.8rem;
}

.para {
  font-size: 1.8rem;
  font-weight: 400;
  word-wrap: break-word;
}
