.recents {
    @include flex-column;
    gap: 3rem;
    position: relative;
}

.card-container {
    width: 100%;
    height: 79vh;
    background-color: var(--light-section);
    @include shadow-2;
    border-radius: .4rem;
    padding: 2rem 0;

    @media screen and (max-width: 600px) {
        padding: 0;
        overflow-y: initial;
        background-color: transparent;
        height: 100%;
        box-shadow: none;
    }

    .scroll-parent {
        width: 100%;
        height: 100%;
        padding: 0 2rem;
        @include flex-column;
        gap: 2rem;
        @include customScroll;

        @media screen and (max-width: 600px) {
            padding: 0;
            overflow-y: initial;
        }
    }

    .card {
        width: 100%;
        height: 100%;
        background-color: var(--light-section);
        border-radius: .4rem;
        padding: 2rem;
        border: 1px solid var(--border-color);
        @include flex-row-spacebetween;
        gap: 10rem;

        @media screen and (max-width: 1000px) {
            gap: 3rem;
        }

        @media screen and (max-width: 500px) {
            flex-direction: column;

            .btn-view {
                padding: .8rem 2.5rem;
            }
        }

        .info {
            flex: 1;
            @include flex-row-spacebetween;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 2rem;

            .data {
                @include flex-column;
                gap: 1rem;
                width: 15rem;

                @media screen and (max-width: 600px) {
                    width: 15rem;
                }

                @media screen and (max-width: 400px) {
                    width: 13rem;
                }

                @media screen and (max-width: 360px) {
                    width: 10rem;
                }
            }
        }
    }

    .blank-page {
        @include flex-row-center;
        margin: auto 0;
        height: 100%;

        @media screen and (max-width: 700px) {
            padding: 25% 0;
        }

        .heading-s {
            color: $color-success;
            text-align: center;
            line-height: 3rem;

            i {
                font-size: 3.5rem;
            }

            @media screen and (max-width: 700px) {
                font-size: 1.8rem;

                i {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

.view-slider {
    position: fixed;
    background-color: var(--light-section);
    width: 40rem;
    height: 91.4vh;
    @include shadow-1;
    top: 6rem;
    right: 0rem;
    transform: translateX(105%);
    transition: all .2s $bez-3;
    padding: 2.5rem 1rem;
    border-left: 1px solid var(--border-color);
    z-index: 1001;

    @media screen and (max-width: 600px) {
        width: 90%;
    }

    .close-btn {
        position: absolute;
        left: -1.5rem;
        top: 1.5rem;
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        @include flex-row-center;
        color: $color-error;
        @include shadow-2;
        cursor: pointer;
        background-color: var(--light-section);
    }

    .dsr-title {
        text-align: center;
    }

    .dsr-details {
        @include flex-column;
        gap: 2rem;
        overflow: hidden;
        height: 100%;

        .details {
            @include flex-column;
            gap: 1rem;
            padding: 2rem 0;
            border-radius: .4rem;
            @include customScroll;

            .data {
                padding: 0.6rem 1.5rem;
                @include flex-row-spacebetween;
                flex-wrap: wrap;
                align-items: center;
                gap: .5rem;
                background-color: var(--background-hover);

                h4,
                p {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.show-slider {
    transform: translateX(0);
}

.leave-cta {
    color: $color-error;
    text-align: center;

    i {
        margin-right: 1rem;
    }
}