:root {
  --app-container: #f8f8fa;
  --light-section: #fff;
  --secondary-color: #4a4a4a;
  --border-color: #e9ebf0;
  --primary-green: #01362a;
  --primary-text: #151f20;
  --secondary-text: #858585;
  --message-box-border: #e9ebf0;
}

.dark:root {
  --app-container: #131316;
  --light-section: #1F2026;
  --secondary-color: rgba(255, 255, 255, 0.8);
  --border-color: #333539;
  --primary-green: #07d3a4;
  --primary-text: #fff;
  --secondary-text: #7c828f;
  --message-box-border: rgba(255, 255, 255, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form .input-row {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
@media screen and (max-width: 500px) {
  .form .input-row {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.form .input-row .input__group {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  flex: 1;
}
.form .input-row .input__group textarea {
  resize: none;
}
.form .input-row .input__group textarea::-webkit-scrollbar {
  width: 0.3rem;
}
.form .input-row .input__group textarea::-webkit-scrollbar-track {
  background-color: var(--border-color);
  border-radius: 0.1rem;
}
.form .input-row .input__group textarea::-webkit-scrollbar-thumb {
  background-color: var(--primary-text);
  border-radius: 0.1rem;
}
.form .input-row .input__group__area {
  height: 10rem;
}
.form .input-row .input__label {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--primary-text);
  transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1.5);
  transform: translateX(0rem);
}
@media screen and (max-width: 600px) {
  .form .input-row .input__label {
    font-weight: 400;
  }
}
.form .input-row .form__input {
  font-weight: 400;
  flex: 1 1;
  background-color: var(--light-section);
  border: none;
  font-family: inherit;
  color: var(--primary-text);
  border-bottom: 2px solid #084b3e;
  padding: 1.2rem 0rem 0.8rem 0;
  font-size: 1.8rem;
  transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1.5);
}
@media screen and (max-width: 600px) {
  .form .input-row .form__input {
    font-size: 1.6rem;
    font-weight: 500;
  }
}
.form .input-row textarea {
  padding-bottom: 0rem !important;
}
.form .input-row .form__input:focus {
  outline: none;
}
.form .input-row .form__input:focus:invalid {
  border-bottom: 2px solid #FA7161;
}
.form .input-row .form__input::-webkit-input-placeholder {
  color: #232323;
}
.form .input-row .form__input::placeholder {
  color: #232323;
}
.form .input-row .form-input:placeholder-shown + .input-label {
  opacity: 0;
  visibility: hidden;
  transform: translate(0rem, -4rem);
}

.highlight {
  color: #018171;
}

.circle-cta {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  border: 1px solid var(--message-box-border);
}
.circle-cta:hover {
  background-color: var(--message-box-border);
}
@media screen and (max-width: 500px) {
  .circle-cta {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.btn-row {
  flex-direction: row !important;
  gap: 1.5rem !important;
}

/* Default */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body a {
  text-decoration: none;
  color: inherit;
}
body li {
  list-style: none;
}

body {
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
  color: var(--secondary-text);
}

h1,
h2,
h3,
h4 {
  color: #01362a;
  font-weight: 600;
}

p {
  font-weight: 500;
  line-height: 2.4rem;
}

.heading-l {
  font-size: 4rem;
}
@media screen and (max-width: 1050px) {
  .heading-l {
    font-size: 8rem;
  }
}
@media screen and (max-width: 750px) {
  .heading-l {
    font-size: 6rem;
  }
}
@media screen and (max-width: 450px) {
  .heading-l {
    font-size: 4rem;
  }
}

.heading-m {
  font-size: 3rem;
}
@media screen and (max-width: 750px) {
  .heading-m {
    font-size: 5rem;
  }
}
@media screen and (max-width: 450px) {
  .heading-m {
    font-size: 3.5rem;
  }
}

.heading-s {
  font-size: 2.2rem;
}
@media screen and (max-width: 750px) {
  .heading-s {
    font-size: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .heading-s {
    font-size: 1.8rem;
  }
}

.heading-xs {
  font-size: 1.8rem;
}

.para {
  font-size: 1.8rem;
  font-weight: 400;
}
@media screen and (max-width: 750px) {
  .para {
    font-size: 1.7rem;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes skeleton-loading {
  0% {
    background-color: var(--app-container);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
@keyframes skeleton-loading-child {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.btn {
  display: inline-flex;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1.5);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.2rem 2.2rem;
  outline: none;
  border: none;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  user-select: none;
}
.btn:active {
  transform: scale(0.9);
}
@media screen and (max-width: 500px) {
  .btn {
    font-size: 1.6rem;
    padding: 1.2rem;
  }
}

.btn-dark {
  color: #fff;
  background-color: #018171;
}
.btn-dark:hover {
  background-color: #00584e;
}

.btn-light {
  background-color: #fff;
  color: #01362a;
}

.btn-light-shadow {
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 100%;
  font-size: 1.8rem;
  border: 1px solid var(--border-color);
}
.btn-light-shadow img {
  width: 2rem;
}

.btn-error {
  background-color: #DF5656;
  align-self: flex-end;
}
.btn-error:hover {
  background-color: #bb3030;
}

.btn-warning {
  background-color: #f5aa3b;
}
.btn-warning:hover {
  background-color: #ef8607;
}

.sidebar {
  width: 22rem;
  background-color: var(--light-section);
  box-shadow: 0 0.5rem 1rem rgba(26, 39, 61, 0.03);
  height: 100vh;
  border: 1px solid var(--border-color);
  transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1.5);
  z-index: 1002;
}
@media screen and (max-width: 750px) {
  .sidebar {
    position: absolute;
    transform: translateX(-100%);
  }
}
.sidebar__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 5.8rem;
  border-bottom: 1px solid var(--border-color);
}
.sidebar__logo .logo {
  width: 60%;
}
.sidebar__tabs {
  padding: 2rem;
}
@media screen and (max-width: 600px) {
  .sidebar__tabs {
    padding: 1rem;
  }
}
.sidebar__tabs .route-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sidebar__tabs .route-list .active {
  color: #fff;
}
.sidebar__tabs .route-list .active::before {
  background-color: #018171;
  transform: scaleY(1);
  width: 100%;
}
.sidebar__tabs .route-list .active:hover {
  color: #fff;
}
.sidebar__tabs .route-list__items {
  font-size: 1.7rem;
  border-radius: 0.4rem;
  cursor: pointer;
  letter-spacing: 0.2rem;
  transition: all 0.1s cubic-bezier(0.5, 0, 0.5, 1.5);
  position: relative;
  z-index: 1;
  color: #01362a;
  color: var(--primary-text);
}
.sidebar__tabs .route-list__items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #a7cfca;
  transform: scaleY(0);
  transition: transform 0.1s, width 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.1s, background-color 0.1s;
  z-index: -1;
  border-radius: 0.4rem;
}
.sidebar__tabs .route-list__items:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.sidebar__tabs .route-list__items:hover {
  color: #01362a;
}
.sidebar__tabs .route-list__items .route-link {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1.2rem;
}

.show-sidebar {
  transform: translateX(0%);
}

.topbar {
  width: 100%;
  background-color: var(--light-section);
  box-shadow: 0 0.5rem 1rem rgba(26, 39, 61, 0.03);
  padding: 1.18rem 2rem;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 5.9rem;
}
@media screen and (max-width: 400px) {
  .topbar {
    padding: 1.18rem 1.5rem;
  }
}
.topbar .greet {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 400px) {
  .topbar .greet h4 {
    font-size: 1.5rem;
  }
}
.topbar .logo-phone {
  width: 2.5rem;
  display: none;
}
@media screen and (max-width: 750px) {
  .topbar .logo-phone {
    display: block;
  }
}
.topbar .logo-phone img {
  width: 100%;
}
.topbar .ham {
  display: none;
  z-index: 1005;
  transform: scale(0.8) translate(-1rem);
}
@media screen and (max-width: 750px) {
  .topbar .ham {
    display: block;
  }
}
.topbar .menu-icons {
  cursor: pointer;
}
.topbar .menu-icons .line {
  width: 3rem;
  height: 0.25rem;
  background-color: #555;
  margin-bottom: 0.6rem;
}
.topbar .menu-icons .line1,
.topbar .menu-icons .line3 {
  width: 2.5rem;
  transition: all 0.3s;
}
.topbar .menu-icons:hover .line {
  width: 3rem;
}
.topbar-ctas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (max-width: 400px) {
  .topbar-ctas {
    gap: 1rem;
  }
}
.topbar-ctas .logout {
  font-size: 1.5rem;
}
@media screen and (max-width: 400px) {
  .topbar-ctas .logout {
    font-size: 1.2rem;
  }
}
.topbar-ctas .logout:hover {
  color: #DF5656;
}
.topbar-ctas .avatar {
  overflow: hidden;
}
.topbar-ctas .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.active-ham {
  transform: translateX(-1rem);
}
.active-ham .line1 {
  transform: rotate(-405deg) translate(-5.4px, 6.6px);
  width: 2.5rem !important;
  background-color: #DF5656;
}
.active-ham .line2 {
  opacity: 0;
}
.active-ham .line3 {
  transform: rotate(405deg) translate(-5px, -7.1px);
  width: 2.5rem !important;
  background-color: #DF5656;
}

.toggle-bx {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.toggle-label {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.toggle {
  --size: 1.7rem;
  appearance: none;
  outline: none;
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  box-shadow: inset calc(var(--size) * 0.45) calc(var(--size) * -0.3) 0;
  border-radius: 22rem;
  color: hsl(240, 20%, 32%);
  transition: all 500ms;
}
@media screen and (max-width: 400px) {
  .toggle {
    --size: 1.4rem;
  }
}
.toggle:checked {
  --ray-size: calc(var(--size) * -0.4);
  --offset-orthogonal: calc(var(--size) * 0.8);
  --offset-diagonal: calc(var(--size) * 0.55);
  transform: scale(0.7);
  color: hsl(40, 100%, 50%);
  box-shadow: inset 0 0 0 var(--size), calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size), var(--offset-orthogonal) 0 0 var(--ray-size), 0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size), 0 var(--offset-orthogonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size), var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size), calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size), var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size);
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-text {
  width: 100%;
  height: 2rem;
  margin-bottom: 0.25rem;
  border-radius: 0.12rem;
  animation: skeleton-loading-child 1s linear infinite alternate;
}
.skeleton-text-short {
  width: 70%;
}
.skeleton-button {
  width: 8rem;
  height: 4rem;
  border-radius: 0.4rem;
  animation: skeleton-loading-child 1s linear infinite alternate;
}
.skeleton-card {
  width: 100%;
  padding: 2rem;
  border-radius: 0.4rem;
}

.login-container {
  min-height: 100vh;
  width: 100%;
  background-color: #f3f8f4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23a7cfca' fill-opacity='0.2'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  padding: 5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
  border-radius: 0.4rem;
}
@media screen and (max-width: 500px) {
  .login-card {
    padding: 3rem;
  }
}
.login-card .top-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.login-card .top-part .logo {
  width: 6rem;
}
.login-card .top-part .heading-s {
  font-family: "Tenor Sans", sans-serif;
}
.login-card .top-part .para {
  text-align: center;
  font-weight: 500;
}
.login-card .branding {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  font-size: 1.3rem;
}
.login-card .branding img {
  width: 12rem;
  height: auto;
}

.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background-color: var(--app-container);
}
.dashboard .main-content {
  flex: 1;
}
.dashboard .container {
  padding: 2rem;
  height: 91.4vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.dashboard .container::-webkit-scrollbar {
  width: 0.3rem;
}
.dashboard .container::-webkit-scrollbar-track {
  background-color: var(--border-color);
  border-radius: 0.1rem;
}
.dashboard .container::-webkit-scrollbar-thumb {
  background-color: var(--primary-text);
  border-radius: 0.1rem;
}
@media screen and (max-width: 500px) {
  .dashboard .container {
    padding: 2rem 1.5rem 2rem 1.5rem;
  }
}

.new-dsr {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.new-dsr .uid-date {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.new-dsr .uid-date p {
  font-weight: 500;
  color: var(--primary-text);
}
.new-dsr .uid-date p span {
  color: var(--secondary-text);
  font-weight: 500;
  font-size: 1.5rem;
}
.new-dsr .uid-date h3 {
  text-align: center;
  font-weight: 700;
}
.new-dsr-card {
  padding: 4rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.5rem 1rem rgba(26, 39, 61, 0.03);
  background-color: var(--light-section);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
@media screen and (max-width: 600px) {
  .new-dsr-card {
    padding: 4rem 2.5rem;
  }
}

.recents {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
}

.card-container {
  width: 100%;
  height: 79vh;
  background-color: var(--light-section);
  box-shadow: 0 0.5rem 1rem rgba(26, 39, 61, 0.03);
  border-radius: 0.4rem;
  padding: 2rem 0;
}
@media screen and (max-width: 600px) {
  .card-container {
    padding: 0;
    overflow-y: initial;
    background-color: transparent;
    height: 100%;
    box-shadow: none;
  }
}
.card-container .scroll-parent {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
}
.card-container .scroll-parent::-webkit-scrollbar {
  width: 0.3rem;
}
.card-container .scroll-parent::-webkit-scrollbar-track {
  background-color: var(--border-color);
  border-radius: 0.1rem;
}
.card-container .scroll-parent::-webkit-scrollbar-thumb {
  background-color: var(--primary-text);
  border-radius: 0.1rem;
}
@media screen and (max-width: 600px) {
  .card-container .scroll-parent {
    padding: 0;
    overflow-y: initial;
  }
}
.card-container .card {
  width: 100%;
  height: 100%;
  background-color: var(--light-section);
  border-radius: 0.4rem;
  padding: 2rem;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}
@media screen and (max-width: 1000px) {
  .card-container .card {
    gap: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .card-container .card {
    flex-direction: column;
  }
  .card-container .card .btn-view {
    padding: 0.8rem 2.5rem;
  }
}
.card-container .card .info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
}
.card-container .card .info .data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15rem;
}
@media screen and (max-width: 600px) {
  .card-container .card .info .data {
    width: 15rem;
  }
}
@media screen and (max-width: 400px) {
  .card-container .card .info .data {
    width: 13rem;
  }
}
@media screen and (max-width: 360px) {
  .card-container .card .info .data {
    width: 10rem;
  }
}

.view-slider {
  position: fixed;
  background-color: var(--light-section);
  width: 40rem;
  height: 91.4vh;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  top: 6rem;
  right: 0rem;
  transform: translateX(105%);
  transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  padding: 2.5rem 1rem;
  border-left: 1px solid var(--border-color);
  z-index: 1001;
}
@media screen and (max-width: 600px) {
  .view-slider {
    width: 90%;
  }
}
.view-slider .close-btn {
  position: absolute;
  left: -1.5rem;
  top: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DF5656;
  box-shadow: 0 0.5rem 1rem rgba(26, 39, 61, 0.03);
  cursor: pointer;
  background-color: var(--light-section);
}
.view-slider .dsr-title {
  text-align: center;
}
.view-slider .dsr-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  height: 100%;
}
.view-slider .dsr-details .details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  border-radius: 0.4rem;
}
.view-slider .dsr-details .details .data {
  padding: 0.6rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5rem;
  background-color: var(--background-hover);
}
.view-slider .dsr-details .details .data h4,
.view-slider .dsr-details .details .data p {
  font-size: 1.6rem;
}

.show-slider {
  transform: translateX(0);
}

.leave-cta {
  color: #DF5656;
  text-align: center;
}
.leave-cta i {
  margin-right: 1rem;
}

.draft-card .info {
  gap: 2rem !important;
}
.draft-card .cta {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}/*# sourceMappingURL=main.css.map */